.label-content {
  background-color: #ddd;
}

.label-title-psd {
  background-color: #31A8FF;
}

.label-title-ai {
  background-color: #FF9A00;
}

.label-title-fw {
  background-color: #E8EB38;
}

.label-title-x {
  background-color: #E85D4E;
}

.label-title-access {
  background-color: #A34C4F;
}

.label-title-excel {
  background-color: #376148;
}


.label-title-html {
  background-color: #e34c26;
}

.label-content-html {
  background-color: #e35c26;
}

.label-title-css {
  background-color: #563d7c;
}

.label-content-css {
  background-color: #564d7c;
}

.label-title-js {
  background-color: #f1e05a;
}

.label-content-js {
  background-color: #f1f05a;
}

.label-title-ruby {
  background-color: #701516;
}

.label-content-ruby {
  background-color: #702516;
}

.home {
  h1{
    padding-top:10rem;
    font-size:4rem;
  }
}

h1.compile-hader {
  padding-top:2rem;
}

.label-title {
  position: relative;
}

@media (min-width: 576px) {
  .label-ribbon {
    position:relative;
    left: 0.3rem;
  }
}

@media (max-width: 575px) {
  .home {
    h1{
      padding-top: 5rem;
      font-size: 4rem;
    }
  }
}