html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-bottom: 100px;
}

.label-title {
  background-color: #ddd;
}

.label-content {
  background-color: #ddd;
}

.label-title-psd {
  background-color: #31A8FF;
}

.label-title-ai {
  background-color: #FF9A00;
}

.label-title-fw {
  background-color: #E8EB38;
}

.label-title-x {
  background-color: #E85D4E;
}

.label-title-access {
  background-color: #A34C4F;
}

.label-title-excel {
  background-color: #376148;
}


.label-title-html {
  background-color: #FFC599;
}

.label-title-css {
  background-color: #8BC7E6;
}

.label-title-js {
  background-color: #FFEE99;
}

.label-title-ruby {
  background-color: #FFBABA;
}

.home {
  h1{
    padding-top:10rem;
    font-size:4rem;
  }
}

h1.compile-hader {
  padding-top:2rem;
}

.label-title {
  position: relative;
}

.copyright {
  font-size: 0.8rem;
}

footer {
  position: absolute;
  bottom: 0;
  padding-top:20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

@media (min-width: 576px) {
  .label-ribbon {
    position:relative;
    left: 0.3rem;
  }
}

@media (max-width: 575px) {
  .home {
    h1{
      padding-top: 5rem;
      font-size: 4rem;
    }
  }

  .label-title img {
    max-width: 40%;
  }
}